*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.form-box{
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
    background-color: white;
    padding: 20px 20px;
    border-radius: 15px;
    /* margin-top: 150px; */
}
.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 5px 0px;
}

.form-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 25px 0px;
}
.form-row{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}
.address-row{
    grid-column: 1 / span 2;
}
label{
    margin-bottom: 4px;
    font-size: .9em;
}
input, select, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}
textarea{
    resize: none;
    width: 100%;
}
input:focus{
    outline: 1px solid rgb(0, 102, 255);
}
select:focus{
    outline: 1px solid rgb(0, 102, 255);
}
textarea:focus{
    outline: 1px solid rgb(0, 102, 255);
}

.btn-container{
    width: 100%;
}
.btn-container button{
    background-color:rgb(0, 102, 255);
    color:white;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    border: none;
    font-size: 1em;
    cursor: pointer;
}
button:active{
    background-color:rgb(0, 128, 255);
}



@media (max-width:786px){
    .address-row{
        grid-column: 1 / span 1;
    }

    .container{
    padding: 20px;
    height: auto;
}
.form-box{
    height: auto;
}
};